* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

a {
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.logo-and-nav {
  width: 250px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.logo-img {
  height: 40px;
  width: 40px;
  margin-top: 40px;
  margin-left: 160px;
}

.logo-name {
  font-size: 46px;
  margin: 0px;
  margin-top: 30px;
  margin-left: 10px;
}    

.nav-list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 300px;
}

.ul-list {
  margin-top: 52px;
  width: 650px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.button-place {
  margin-left: 4.22vw;
  margin-top: 3.1vh;
}

.button-request {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 46px;
  color: black;
  padding: 10px 20px;
  outline: 1px solid black; /* Створює рамку */
  outline-offset: 1px; /* Відступ між текстом і рамкою */
  border-radius: 10px;
}

.hero-content {
  margin-left: 160px;
  margin-top: 80px;
  width: 700px;
}

.text-section {
  height: 380px;
  width: 600px;
}

.text-title {
  font-size: 64px;
}

.text-one {
  width: 502px;
  font-size: 20px;
}

.button-two {
  background-color: #191A23;
  color: white;
  width: 265px;
  height: 70px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  cursor: pointer;
}

.img-hero-sect {
  margin-left: 1000px;
  margin-top: -480px;
}

.img-section {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 160px;
  filter: grayscale(100%);
}

.zoom-img {
  margin-right: 160px;
}

.services-container {
  display: flex;
  align-items: center;
  margin-left: 8.4vw;
  margin-top: 12vh;
}

.services-content {
  font-size: 22px;
  font-weight: 500;
  margin-left: 3vw;
}

/* далі код потрібно дуже сильно допрацювати стилі зовсім не відповідають макету */

.card-container-one, .card-container-two, .card-container-three {
  display: flex;
  justify-content: space-evenly;
  gap: 35px;
  margin-top: 60px;
}

.info-card-one, .info-card-four {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  height: 250px;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 35px;
  border: #000 solid 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.info-card-two, .info-card-five {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  height: 250px;
  padding: 20px;
  background: #b9ff66;
  border-radius: 35px;
  border: #000 solid 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.info-card-three, .info-card-six {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  height: 250px;
  padding: 20px;
  background: #191a23;
  border-radius: 35px;
  border: #000 solid 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.info-card-one:hover, .info-card-two:hover,
.info-card-three:hover, .info-card-four:hover,
.info-card-five:hover, .info-card-six:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.title-one {
  width: max-content;
  font-size: 40px;
  margin-bottom: 0px;
  margin-left: 40px;
  border-radius: 14px;
}

.title-one, .title-four, .title-six {
  width: max-content;
  font-size: 40px;
  margin-bottom: 0px;
  margin-left: 40px;
  background-color: #b9ff66;
  border-radius: 14px;
}

.title-two, .title-three, .title-five {
  width: max-content;
  font-size: 40px;
  margin-bottom: 0px;
  margin-left: 40px;
  background-color: #f3f3f3;
  border-radius: 14px;
}

.sub-title-one, .sub-title-four, .sub-title-six {
  width: max-content;
  font-size: 40px;
  margin-left: 40px;
  background-color: #b9ff66;
  border-radius: 14px;
}

.sub-title-two, .sub-title-three, .sub-title-five {
  width: max-content;
  font-size: 40px;
  margin-left: 40px;
  background-color: #f3f3f3;
  border-radius: 14px;
}

.learn-section {
  width: 240px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 24px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.learn-more-one, .learn-more-two,
.learn-more-four, .learn-more-five {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 28px;
  font-weight: 400;
  text-decoration: none;
  left: 100px;
  top: 3px;
  cursor: pointer;
}

.learn-more-three-white, .learn-more-six-black {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  text-decoration: none;
  left: 100px;
  top: 3px;
  cursor: pointer;
}

.learn-more-one span {
  display: inline-block;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.learn-more-two span {
  display: inline-block;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.proposal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77.4%;
  height: 280px;
  padding: 50px;
  margin: 100px;
  margin-left: 8.4vw;
  background-color: #f3f3f3;
  border-radius: 60px;
}

.prop-title {
  font-size: 36px;
}

.prop-content {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
}

.prop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  width: 320px;
  height: 70px;
  color: #ffffff;
  background-color: #191a23;
  border-radius: 16px;
  cursor: pointer;
}

.img-prop-container {
  display: flex;
  justify-content: end;
}

.studies-container {
  display: flex;
  align-items: center;
  margin-left: 8.4vw;
  margin-top: 11vh;
}

.studies-content {
  font-size: 22px;
  font-weight: 500;
  margin-left: 3vw;
}

.studies-content-container {
  margin-left: 8.4vw;
  width: 82.7%;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  background-color: #191a23;
  border-radius: 46px;
  border: 1px solid #000;
}

.content-one, .content-two, .content-three {
  margin-top: 5vh;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.button-one {
  color: #b9ff66;
}

.green-arrow {
  margin-left: 0.4vw;
}

.white-line-one {
  position: absolute;
  left: 35vw;
  margin-top: -16.4vh;
}

.white-line-two {
  position: absolute;
  left: 61.5vw;
  margin-top: -16.5vh;
}

.business-container {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  margin-left: 8.4vw;
  margin-top: 11vh;
}

.business-content {
  font-size: 22px;
  font-weight: 500;
  margin-left: 3vw;
}

.process-list {
  list-style: none;
}

.process-item-one {
  margin-left: 6.4vw;
  height: 290px;
  width: 84.4%;
  display: flex;
  align-items: center;
  background-color: #b9ff66;
  border-radius: 46px;
  border: 1px solid #000;
  transition: all 0.5s ease;
}

.process-item-two {
  margin-left: 6.4vw;
  height: 160px;
  width: 84.4%;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 46px;
  border: 1px solid #000;
  transition: all 0.5s ease;
  margin-top: 4vh;
}

.process-item-one.active {
  background-color: #f3f3f3; /* Змінюємо колір */
  transform: translateY(20px); /* Додаємо зміщення */
  height: 160px; /* Змінюємо висоту */
}

.process-item-two.active {
  background-color: #b9ff66; /* Змінюємо колір */
  transform: translateY(20px); /* Додаємо зміщення */
  height: 160px; /* Змінюємо висоту */
}

.hero-section-one {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: start;
  align-items: start; 
}

.hero-section-two {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: start;
  margin-top: 4vh;
}

.process-title-one {
  font-size: 56px;
  font-weight: 600;
  display: flex;
  padding-left: 3vw;
  margin-top: 10px;
}

.process-title-two {
  font-size: 56px;
  font-weight: 600;
  display: flex;
  padding-left: 3vw;
  margin-top: 10px;
  height: 31%;
}

.card-title-content {
  font-size: 32px;
  font-weight: 500;
  height: 37%;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.title-content-two {
  font-size: 32px;
  font-weight: 500;
  height: 37%;
  width: 150%;
  margin-left: 1vw;
  margin-bottom: 0px;
}

.process-button-container {
  height: 50%;
  width: 62vw;
  display: flex;
  justify-content: end;
  align-items: start;
  padding-right: 56px;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 14px;
}

.action-button-two {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 14px;
}

.list-one {
  font-size: 44px;
  font-weight: 600;
}

.process-text-content-one {
  margin-left: -79.7vw;
  margin-top: 16vh;
  font-size: 23px;
  font-weight: 450;
  padding: 30px 30px;
}

.process-text-content-two {
  margin-left: -79.7vw;
  margin-top: 16vh;
  font-size: 23px;
  font-weight: 450;
  padding: 30px 30px;
  display: none;
}

.divider-one {
  position: absolute;
  width: 75.8%;
  height: 1px;
  border: none; 
  border-top: 2px solid black; 
  margin-left: 3vw;
}

.divider-two {
  position: absolute;
  width: 92.7%;
  height: 1px;
  border: none; 
  border-top: 2px solid black; 
  margin-left: 3vw;
  display: none;
}

.process-item-two {
  margin-top: 100px;
}

.team-container, .team-container-two {
  margin-left: 8.4vw;
}

.team-list {
  width: 90.5%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
}

.team-list-two {
  width: 90.5%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin-top: 50px;
}

.team-mate-one, .team-mate-two, .team-mate-three {
  box-sizing: border-box;
  padding: 2.05vw;
  width: 23vw;
  height: 360px;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 46px;
}

.team-mate-main-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team-mate-name {
  width: auto;
  height: auto;
  display: block;
  margin-top: -60px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 35px;
}

.team-mate-name-two {
  width: auto;
  height: auto;
  display: block;
  margin-top: -60px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px;
}

.team-mate-name-three {
  width: auto;
  height: auto;
  display: block;
  margin-top: -60px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 58px;
}

.team-mate-name-four {
  width: auto;
  height: auto;
  display: block;
  margin-top: -60px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 58px;
}

.team-mate-name-five {
  width: auto;
  height: auto;
  display: block;
  margin-top: -90px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 58px;
}

.team-mate-name-six {
  width: auto;
  height: auto;
  display: block;
  margin-top: -60px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}

.team-mate-position {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 500;
  margin-left: 80px;
  width: 70%;
}

.team-mate-position-two {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 500;
  margin-left: 130px;
  width: 70%;
}

.team-mate-position-three {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 500;
  margin-left: 120px;
  width: 70%;
}

.team-mate-position-four {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 500;
  margin-left: 45px;
  width: 70%;
}

.team-mate-position-five {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 500;
  margin-left: 45px;
  width: 70%;
}

.team-mate-position-six {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 500;
  margin-left: 75px;
  width: 70%;
}

.linkedin-position {
  position: absolute;
  margin-left: 17vw;
  margin-top: -110px;
}

.team-divider {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 25px 0;
}

.team-mate-info {
  font-size: 20px;
}

.all-team-button {
  width: 91.3%;;
  margin-top: 40px;
  display: flex;
  justify-content: end;
}

.team-button {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #191a23;;
  width: 270px;
  height: 70px;
  border-radius: 16px;
  cursor: pointer;
}

.testimonials-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #191a23;
  width: 82.6%;
  height: 630px;
  border-radius: 46px;
  margin-left: 8.55vw;
  overflow: hidden;
}

.testimonials-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.testimonials-item-one {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 270px;
  margin-top: 100px;
  border-radius: 46px;
  left: 660px;
}

.testimonials-item-two {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 270px;
  margin-top: 100px;
  border-radius: 46px;
  left: 34%;
}

.testimonials-item-three {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 270px;
  margin-top: 100px;
  border-radius: 46px; 
  left: 6%;
}

.testimonials-item-four {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 270px;
  margin-top: 100px;
  border-radius: 46px;
  left: 0px;
}

.testimonials-item-five {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 270px;
  margin-top: 100px;
  border-radius: 46px;
  transform: translateX(-204%); 
}

.testimonials-messeng-image, .testimonials-messeng-image-two, .testimonials-messeng-image-three
.testimonials-messeng-image-four, .testimonials-messeng-image-five {
  display: flex;
  margin-left: 200px;
}

.testimonials-info-one, .testimonials-info-two, .testimonials-info-three,
.testimonials-info-four, .testimonials-info-five {
  display: flex;
  margin-top: 350px;
  margin-left: -400px;
}

.testimonials-worker {
  width: 600px;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1.5vw;
  left: 7.6vw;
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.testimonials-worker-two {
  width: 600px;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1.5vw;
  left: 7.6vw;
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.testimonials-worker-three {
  width: 600px;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1.5vw;
  left: 2.6vw;
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.testimonials-worker-four {
  width: 600px;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1.5vw;
  left: 2.6vw;
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.testimonials-worker-five {
  width: 600px;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1.5vw;
  left: 7.6vw;
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 1400px) and (max-width: 1750px) {
  .testimonials-worker {
    left: 5.6vw;
  }
}

.worker-content-name {
  position: relative;
  display: flex;
  color: #b9ff66;
  bottom: 10px;
  right: 130px;
  font-size: 19px;
}

.worker-content-name-two {
  position: relative;
  display: flex;
  color: #b9ff66;
  bottom: 10px;
  right: 130px;
  font-size: 19px;
}

.worker-content-name-three {
  position: relative;
  display: flex;
  color: #b9ff66;
  bottom: 10px;
  right: 130px;
  font-size: 19px;
}

.worker-content-name-four {
  position: relative;
  display: flex;
  color: #b9ff66;
  bottom: 10px;
  right: 128px;
  font-size: 19px;
}

.worker-content-name-five {
  position: relative;
  display: flex;
  color: #b9ff66;
  bottom: 10px;
  right: 130px;
  font-size: 19px;
}

.worker-content-position {
  position: relative;
  display: flex;
  color: #ffffff;
  top: 24px;
  right: 104px;
  font-size: 19px;
}

.worker-content-position-two {
  position: relative;
  display: flex;
  color: #ffffff;
  top: 24px;
  right: 85px;
  font-size: 19px;
}

.worker-content-position-three {
  position: relative;
  display: flex;
  color: #ffffff;
  top: 24px;
  right: 134px;
  font-size: 19px;
}

.worker-content-position-four {
  position: relative;
  display: flex;
  color: #ffffff;
  top: 24px;
  right: 132px;
  font-size: 19px;
}

.worker-content-position-five {
  position: relative;
  display: flex;
  color: #ffffff;
  top: 24px;
  right: 126px;
  font-size: 19px;
}

.navigation-button {
  position: relative;
  display: flex;
  align-items: end;
  right: 54.1vw; 
  bottom: 50px; 
}

.arrow-left {
  cursor: pointer;
  position: relative;
  right: 8.2vw;
}

.arrow-right {
  cursor: pointer;
  position: relative;
  left: 8.2vw;
}

.stars-container {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: space-around;
  bottom: 4px;
}

.contact-container {
  overflow: hidden;
  width: 82.5%;
  height: 800px;
  background-color: #f3f3f3;
  margin-left: 8.6vw;
  border-radius: 46px;
}

.contact-button-section {
  display: flex;
  margin-left: 100px;
  margin-top: 70px;
}

.contact-us-image {
  display: flex;
  position: relative;
  left: 62vw;
  bottom: 720px;
}

.contact-button-section {
  display: flex;
  gap: 30px; /* Відстань між кнопками */
  align-items: center;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px; /* Відстань між кнопкою і текстом */
}

.radio input {
  display: none; /* Приховуємо стандартну радіо-кнопку */
}

.custom-circle {
  width: 40px;
  height: 40px;
  border: 1.6px solid #000; /* Чорна рамка */
  border-radius: 50%;
  position: relative; /* Для позиціонування псевдоелемента */
  background-color: #ffffff;
}

.hi-button {
  font-size: 18px;
  font-weight: 400;
}

.quote-button {
  font-size: 18px;
  font-weight: 400;
}

.custom-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background-color: #b9ff66; /* Основний колір */
  border-radius: 50%;
  opacity: 0; /* За замовчуванням приховано */
  transition: opacity 0.25s, background-color 0.25s;
}

.radio input:checked + .custom-circle::before {
  opacity: 1; /* Показуємо активний колір */
}

.radio:nth-child(2) .custom-circle::before {
  background-color: #b9ff66; /* Інший колір для другої кнопки */
}

.messenge-container {
  margin-top: 100px;
  margin-left: 100px;
}

.send-message-button {
  margin-top: 60px;
  margin-left: 100px;
}

.messenge-container {
  margin-top: 0px;
  width: 500px;
  height: 650px;
}

.name-title, .email-title, .message-title {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.name-input, .email-input {
  width: 500px;
  height: 55px;
  border-radius: 16px;
  border: 1.4px solid #000;
  padding: 0px 20px;
  font-size: 18px;
}

.message-input {
  align-items: start;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  border: 1.4px solid #000;
  padding: 20px 20px;
  font-size: 18px;
}

.send-message-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  color: #ffffff;
  margin-left: 0px;
  width: 543px;
  height: 70px;
  background-color: #191a23;
  border-radius: 16px;
}

/* Footer section */

.footer {
  margin-top: 150px;
  margin-left: 164px;
  background-color: #191a23;
  width: 82.6%;
  height: 550px;
  border-radius: 46px;
}

.footer-navigation {
  color: #ffffff;
  box-sizing: border-box;
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.footer-logo-container {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 100px;
}

.footer-logo-img {
  margin-top: -5px;
}

.footer-logo-name {
  font-size: 32px;
  font-weight: 500;
  margin-top: -5px;
  margin-left: 10px;
}

.footer-nav-container {
  width: 1080px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

.footer-nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-top: 6px;
}

.footer-nav-list a {
  text-decoration: underline;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
}

.footer-nav-images {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: -1px;
  margin-right: 90px;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 272px;
  bottom: -7780px;
  gap: 30px;
}

.contact-us {
  font-size: 20px;
  font-weight: 500;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9ff66;
  color: #000000;
  border-radius: 6px;;
}

.email-info, .phone-info, .address-info {
  font-size: 20px;
  font-weight: 300;
}

.email-input-container {
  width: 670px;
  height: 225px;
  position: absolute;
  left: 700px;
  background-color: #292a32;
  bottom: -4px;
  border-radius: 16px;
}

.email-input-field {
  box-sizing: border-box;
  color: #ffffff;
  font-size: 20px;
  margin-top: 75px;
  margin-left: 30px;
  background-color: #292a32;
  width: 335px;
  height: 70px;
  border-radius: 16px;
  border: 1px solid #fff;
  padding: 0px 30px;
}

.email-input-button {
  font-size: 20px;
  font-weight: 400;
  margin-top: -72px;
  margin-left: 390px;
  width: 250px;
  height: 70px;
  background-color: #b9ff66;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-divider-container {
  left: 272px;
  bottom: -7850px;
  position: absolute;
  width: 72.4%;
}

.footer-policy-container {
  position: absolute;
  bottom: -7910px;
  left: 272px;
}

.policy-content-one {
  margin-right: 40px;
  font-size: 20px;
  font-weight: 300;
}

.policy-content-two {
  font-size: 19px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: underline;
}