$dark-pink: #1b1b1b;
$orange-red: orangered;
$blue: blue;

@mixin h1 ($size, $width, $height, $back-color) {
    font-size: $size;
    height: $height;
    width: $width;
    background-color: $back-color;
}

@mixin h-one {
    color: rgb(179, 137, 216)
}

.head {
    @include h1(20px, 100px, 150px, red);
}

.head-one {
    @include h1(26px, 110px, 160px, blue);
}

.head-two {
    @include h1(28px, 120px, 170px, green);
}

.head-three {
    @include h1(32px, 130px, 180px, brown);
}

.head-four {
    @include h-one;
}